<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>982202577635-nh8tgo4f325vso3lel7k99tv2skrubio.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.982202577635-nh8tgo4f325vso3lel7k99tv2skrubio</string>
	<key>API_KEY</key>
	<string>AIzaSyBhOtXD69CU7t5j77YTQy2RvrArXWD7zk4</string>
	<key>GCM_SENDER_ID</key>
	<string>982202577635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makeblock.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messager-18ec8</string>
	<key>STORAGE_BUCKET</key>
	<string>messager-18ec8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:982202577635:ios:d709c63151241aacba0bd6</string>
</dict>
</plist>